<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= name %></title>
  <meta name="author" content="<%= obj.author ? author : '' %>">
  <meta name="description" content="<%= obj.description ? description : '' %>">
  <% if (obj.keywords) { %>
    <meta name="keywords" content="<% keywords.forEach(function(keyword) { %><%= keyword %>, <% }) %>">
  <% } %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/c.min.css">
</head>
<body>
<nav class="measure clearfix white">
  <div class="sm-col">
    <a href="/" class="py2">Scrutinize</a>
  </div>
  <div class="sm-col-right">
    <a href="/" class="py2">About</a>
    <a href="/" class="py2">Github</a>
  </div>
</nav>
<div class="measure" id="app">
  <%= app %>
</div>

<script src="js/j.min.js"></script>

</body>
</html>
